body {
  background-color: black;
}

.poster {
    text-align: center;
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 60px;
}

p{
    font-family: "Caveat", cursive;
}

h1 {
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    font-size: 3rem;
    
}

.imgspecs {
    border: 5px solid white;
    width: 100%;
}

